version: "3.3"
services:
  app:
    restart: always
    image: {{ image_src }}
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ service_name }}.entrypoints=web,web-secure
      - traefik.http.routers.{{ service_name }}.rule=Host(`{{ service_name }}.{{ base_domain }}`)
      - traefik.http.routers.{{ service_name }}.tls.certresolver=letsencrypt
      - traefik.http.services.{{ service_name }}.loadbalancer.server.port={{ container_port }}
      - traefik.docker.network=proxy-net
      - com.centurylinklabs.watchtower.enable={{ use_watchtower }}
    networks:
      - proxy-net
networks:
  proxy-net:
