version: "3.3"
services:
  app:
    image: {{ image_src }}
    restart: always
    command:
       - --log.level=DEBUG
    environment:
    - GANDIV5_API_KEY={{ GANDIV5_API_KEY }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy-net
      - com.centurylinklabs.watchtower.enable={{ use_watchtower }}
    ports:
      - "2222:2222" # The SSH port
      - "80:80" # The HTTP port
      - "443:443" # The HTTPS port
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./acme.json:/etc/traefik/acme/acme.json
    networks:
      - default
      - proxy-net
  watcher:
    image: docker.io/containrrr/watchtower
    command:
      - --label-enable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - com.centurylinklabs.watchtower.enable=true
networks:
  proxy-net:
