#!/etc/traefik/traefik.yml

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https
  web-secure:
    address: :443
  ssh:
    address: :2222
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: /etc/traefik/acme/acme.json
      dnsChallenge:
        provider: gandiv5
        delayBeforeCheck: 0
providers:
  docker:
    endpoint: unix://var/run/docker.sock
    exposedByDefault: false
    watch: true
api:
  dashboard: false
  insecure: false
  debug: false
accessLog: {}
